@-webkit-viewport {width: device-width;}

@-moz-viewport {width: device-width;}

@-ms-viewport {width: device-width;}

@-o-viewport {width: device-width;}

@viewport {width: device-width;}

/*-----------------------------------------------*/
/*------------------- IMAGENS ------------------ */
/*-----------------------------------------------*/

/*.img-background{*/
/*padding: 0;*/
/*position: absolute;*/
/*width: 100%;*/
/*height: 100%;*/
/*color: #000;*/
/*background: url(../images/images-background/keyboard-ecommerce.jpg);*/
/*background-attachment: fixed;*/
/*background-size: cover;*/
/*background-position: 100%;*/
/*}*/

.img-produtos{
    margin-top: 6%;
    max-height: 250px;
    max-width: 250px;
    min-width: 200px;
    min-height: 200px;
}

.logo-perfil{
    margin-top: 10%;
    margin-bottom: 5%;
    max-width: 250px;
    max-height: 250px;
    width: 230px;
    height: 200px;
    cursor: pointer;
    position: relative;
}

/*-------------------------------------*/
/*----------- ID DOS BOTÕES -----------*/
/*-------------------------------------*/

#btn_entrar{
    text-transform: uppercase;
    text-align-last: center;
    font-size: 11pt;
    height: 20%;
}

#btn_registrar{
    text-transform: uppercase;
    text-align-last: center;
    font-size: 11pt;
    height: 20%;
}

#btnRecuperarSenha{
    text-decoration-color: #2196f3;
}

#btnRecuperarSenha:hover{
    color: #2196f3;
    text-decoration: underline #2196f3;
}

/*-------------------------------------*/
/*----------- LOGO KATAGALO -----------*/
/*-------------------------------------*/

#logo {
    height: 50px;
    width: 125px;
    max-height: 50px;
    max-width: 125px;
    min-height: 50px;
    min-width: 125px;
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 80px;
}

/*-------------------------------------*/
/*--------------- TAG'S ---------------*/
/*-------------------------------------*/

body html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 700;
}

span{
    font-size: 19pt;
    color: rgb(255, 0, 0);
    font-weight: 900;
}

del{
    font-size: 13px;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-align: justify;
}

strong{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-j{
    color: #000000;
    text-align: justify;
}

.p-b{
    color: #000000;
    font-weight: bold;
}

.p-i{
    color: #000000;
    font-style: italic;
}

.input-qtd{
    border: 1px solid #00bcd4;
}

.input-qtd:hover,
.input-qtd:focus{
    color: #000;
    font-weight: 900;
    border: 2px solid #00bcd4;
}

.borda-preco-fav{
    background-color: transparent;
    border-radius: 30px;
    border: 3px solid #aaaaaa;
}

#alertaId{
    color: #aaaaaa;
}

#alertaId:hover{
    color: #ffa600;
}

#favoritoId{
    color: #aaaaaa;
}

#favoritoId:hover{
    color: #ff0000;
}

#slide-out{
    height: 100%;
    max-height: 100%;
    min-height: 100%;
}

.max-vertical{
    height: 58vh;
}

/*--------------------------------------------*/
/*                Gradient                    */
/*--------------------------------------------*/

.juicy-peach-gradient {background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);}
.young-passion-gradient {background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);}
.lady-lips-gradient {background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);}
.sunny-morning-gradient {background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);}
.rainy-ashville-gradient {background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);}
.frozen-dreams-gradient {background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);}
.warm-flame-gradient {background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);}
.night-fade-gradient {background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);}
.spring-warmth-gradient {background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);}
.winter-neva-gradient {background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);}
.dusty-grass-gradient {background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);}
.tempting-azure-gradient {background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);}
.heavy-rain-gradient {background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);}
.amy-crisp-gradient {background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);}
.mean-fruit-gradient {background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);}
.deep-blue-gradient {background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);}
.ripe-malinka-gradient {background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);}
.cloudy-knoxville-gradient {background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);}
.morpheus-den-gradient {background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);}
.rare-wind-gradient {background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);}
.near-moon-gradient {background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);}

/*---------------------------------------*/
/*-------------- SCROLLBAR ---------------*/
/*---------------------------------------*/

.scrollbar{
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: auto;
    overflow-y: auto;
}

.scrollbar-cyan::-webkit-scrollbar {
    height: 100%;
    width: 4%;
    background-color: #fff;
}

.scrollbar-cyan::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #00bcd4;
}